* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.container {
  padding: 24px;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(100%/5 - 12.8px);
  /* margin: 24px; */
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.card:nth-child(5n+5) {
  margin-right: 0;
}


.modal__content {
  border: 2px solid lightgrey;
  border-radius: 4px;
  padding: 16px;
}

.book-form {
  display: flex;
  flex-wrap: wrap;
}

.book-form h2 {
  margin: 8px 0 24px;
  flex: 1 0 auto;
}



.book-form__items {
  flex-basis: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.book-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.book-form__field:last-child {
  margin-bottom: 0;
}

.book-form__field--inline {
  flex-direction: row;
  align-items: flex-end;

}

.book-form__field label {
  margin-bottom: 4px;
}

.book-form__field--inline label {
  margin-bottom: 0;
  color:
}

input {
  padding: 6px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

/* @supports (-webkit-text-stroke: 1px black) {
  h2 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.book-form__button {
  flex: 0 0 32px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.modal--visible {
  display: block;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.close {
  /* font-size: 32px;
  line-height: 1;
  font-weight: bold;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 1px 7px 0 6px; */
}

.close:hover {
  /* background-color: #e63e00; */
}

.submit {
  background-color: olivedrab;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 6px 15px;
  border-radius: 4px;
}

.submit:hover {
  background-color: #5c7a1e;
}
